@font-face {
  font-family: 'arimo-regular';
  src: url(../fonts/arimo-regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arimo-medium';
  src: url(../fonts/arimo-medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arimo-semibold';
  src: url(../fonts/arimo-semibold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arimo-bold';
  src: url(../fonts/arimo-bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* variable */
:root {
  --m-text: #363636;
  --m-light-green: #34A952;
  --m-green: #278E3A;
  --m-main-green: #47A358;
  --m-magenta: #ED447D;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  font-family: "arimo-regular", sans-serif;
  color: var(--m-text);
  line-height: 1.5;
}
input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0 0 0 20px;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
p {
  margin: 0 0 1em 0;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none !important;
}
.visible {
  display: block;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.section {
  margin: 0 0 30px 0;
}
.section-title {
  margin: 0 0 20px 0;
}
.section-title .section-title__text {
  font-family: 'arimo-semibold';  
  font-size: 28px;
}
.light-green-text {
  color: var(--m-light-green);
}
.red-text {
  color: var(--m-magenta) !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.item__old-price {
  position: relative;
  color: #B3B3B3;
}
.item__old-price .line-through {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--m-magenta);
  transform: rotate(10deg);
}


/* button next */
.button-next {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.button-next .arrow-right {
  position: absolute;
  top: 22px;
  right: 14px;
  width: 20px;
  height: 2px;
  background-color: var(--m-text);
}
.button-next .arrow-right::before,
.button-next .arrow-right::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: var(--m-text);
}
.button-next .arrow-right::before {
  top: -3px;
  right: -1px;
  transform: rotate(45deg);
}
.button-next .arrow-right::after {
  top: 3px;
  right: -1px;
  transform: rotate(-45deg);
}

/* pagination */
.pagination-links {
  margin: 0 0 60px 0;
}
.pagination-links .pagination {
  width: max-content;
  height: 42px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
}
.pagination-links .pagination .link {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #F8F7F5;
  overflow: hidden;
  transition: background-color .3s;
}
.pagination-links .pagination .link:last-child {
  margin: 0 0 0 5px;
}
.pagination-links .pagination .link :hover,
.pagination-links .pagination .active {
  background-color: var(--m-main-green);
}
.pagination-links .pagination .link a {
  display: block;
  padding: 6px 0;
  font-family: 'arimo-semibold';
  font-size: 20px;
  color: #3E3E3E;
  transition: color .3s;
}
.pagination-links .pagination .link:hover a,
.pagination-links .pagination .active a {
  color: #E8E8E8;
}

/* header */
.header {
  margin: 0 0 60px 0;
  padding: 20px 0 0 0;
}
.header .header-top {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #F2F2F2;
}
.header .flex-container {
  display: flex;
  justify-content: space-between;
}
.header .side {
  display: flex;
}
.header .header-top .logo {
  width: 134px;
  height: 42px;
  margin: 0 20px 0 0;
}
.header .header-top .logo img {
  width: 100%;
}
.header .header-top .catalog-btn {
  display: flex;
  width: 122px;
  height: 42px;
  margin: 0 20px 0 0;
  border-radius: 21px;
  background-color: var(--m-main-green);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .header-top .catalog-btn .catalog-btn__burger {
  position: relative;
  width: 17px;
  height: 13px;
  margin: 0 10px 0 0;
}
.header .header-top .catalog-btn .catalog-btn__burger::before,
.header .header-top .catalog-btn .catalog-btn__burger::after,
.header .header-top .catalog-btn .catalog-btn__burger span {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 1px;
  background-color: #fff;
  transition: transform .3s;
}
.header .header-top .catalog-btn .catalog-btn__burger::before {
  top: 0;
}
.header .header-top .catalog-btn .catalog-btn__burger::after {
  top: 10px;
}
.header .header-top .catalog-btn .catalog-btn__burger span {
  top: 5px;
}
.header .header-top .catalog-btn.active .catalog-btn__burger::before {
  top: 5px;
  transform: rotate(-45deg);
}
.header .header-top .catalog-btn.active .catalog-btn__burger::after {
  top: 5px;
  transform: rotate(45deg);
}
.header .header-top .catalog-btn.active .catalog-btn__burger span {
  display: none;
}
.header .header-top .catalog-btn .catalog-btn__text {
  font-family: 'arimo-medium';
  font-size: 17px;
  color: #fff;
}
.header .header-top .search-form {
  width: 489px;
}
.header .header-top .search-form .form-container {
  position: relative;
}
.header .header-top .search-form .search-input {
  position: relative;
  width: 100%;
  height: 42px;
  border: 2px solid var(--m-main-green);
  border-radius: 21px;
  padding: 8px 90px 10px 20px;
  font-size: 16px;
  transition: all .2s;
  z-index: 2;
}
.header .header-top .search-form .search-input::placeholder {
  color: #B3B3B3;
}
.header .header-top .search-form .search-input::-ms-input-placeholder {
  color: #B3B3B3;
}
.header .header-top .search-form .search-input-active {
  border: 2px solid transparent;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.header .header-top .search-form .search-input-dp {
  border-radius: 21px 21px 0 0;
  box-shadow: none;
}
.header .header-top .search-form .submit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 2;
}
.header .header-top .search-form .search-close {
  position: absolute;
  top: 9px;
  right: 60px;
  width: 24px;
  height: 24px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all .3s;
  z-index: 2;
}
.header-content .search-close-active {
  opacity: 1;
  visibility: visible;
}
.header .header-top .search-form .search-close-active {
  opacity: 1;
  visibility: visible;
}
.header .header-top .search-form .search-close::before,
.header .header-top .search-form .search-close::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 2px;
  width: 20px;
  height: 1px;
  background-color: #B3B3B3;
}
.header .header-top .search-form .search-close::before {
  transform: rotate(45deg);
}
.header .header-top .search-form .search-close::after {
  transform: rotate(-45deg);
}

.header .header-top .search-form .search-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 42px 0 0 0;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) .3s,visibility cubic-bezier(0.215, 0.61, 0.355, 1) .3s;
  z-index: 1;
}
.header .header-top .search-form .search-dropdown-active {
  opacity: 1;
  visibility: visible;
}
.header .header-top .search-form .search-list-item {
  position: relative;
  display: flex;
  padding: 7px 22px;
  background-color: #fff;
  transition: background-color .2s;
}
.header .header-top .search-form .search-list-item:hover {
  background-color: #EDEDED;
}
.header .header-top .search-form .search-list-item__image {
  margin: 0 12px 0 0;
}
.header .header-top .search-form .search-list-item__image img {
  width: 11px;
  height: 11px;
}
.header .header-top .search-form .search-list-item__title {
  font-family: 'arimo-semibold';
  font-size: 15px;
  transition: color .2s;
}
.header .header-top .search-form .search-list-item:hover .search-list-item__title {
  color: var(--m-main-green);
}
.header .header-top .search-form .search-see-all {
  display: none;
  margin: 7px 22px 15px 22px;
  font-size: 14px;
  color: #A0A8AE;
  transition: color .3s;
}
.header .header-top .search-form .search-see-all:hover {
  color: #363636;
}
.header .header-top .search-form .search-see-all-active {
  display: block;
}
.header .header-top .search-form .no-product {
  padding: 7px 22px;
}
.header .header-top .city-select {
  display: flex;
  min-width: 181px;
  height: 42px;
  margin: 0 20px 0 0;
  padding: 8px 20px;
  border: 1px solid #F6F7F9;
  background-color: #fff;
  border-radius: 21px;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}
.header .header-top .city-select:hover {
  border: 1px solid var(--m-main-green);
  background-color: var(--m-main-green);
  color: #fff;
}
.header .header-top .city-select .city-select__image {
  width: 15px;
  height: 19px;
  margin: 0 10px 0 0;
}
.header .header-top .city-select .city-select__image svg {
  stroke: #494F54;
  transition: stroke .3s;
}
.header .header-top .city-select:hover .city-select__image svg {
  stroke: #fff;
}
/* .header .header-top .city-select .city-select__text {
  font-family: 'arimo-semibold';
} */

.header .header-top .right-menu {
  display: flex;
}
.header .header-top .right-menu .right-menu-item {
  position: relative;
  width: 75px;
  margin: 0 0 0 10px;
}
.header .header-top .right-menu .right-menu-item .right-menu-item__image {
  width: 22px;
  margin: 0 auto;
}
.header .header-top .right-menu .right-menu-item .right-menu-item__image img {
  width: 100%;
}
.header .header-top .right-menu .right-menu-item .right-menu-item__text {
  font-size: 14px;
  text-align: center;
}
.header .header-top .right-menu {
  position: relative;
}
.header .header-top .right-menu .counter {
  position: absolute;
  top: -5px;
  right: 15px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--m-main-green);
  font-family: 'arimo-semibold';
  font-size: 12px;
  color: #fff;
  line-height: 1.8;
  text-align: center;
}
.header .advantages .advantages-flex-container {
  display: flex;
}
.header .advantages .advantages-item {
  width: max-content;
  margin: 0 10px 0 0;
  padding: 13px 16px;
  border: 1px solid #EDEDED;
  border-radius: 60px;
  background-color: #F6F7F9;
}
.header .advantages .advantages-item .advantages-item__image {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 10px 0 0;
}
.header .advantages .advantages-item .advantages-item__image img {
  width: 100%;
}
.header .advantages .advantages-item .advantages-item__text {
  display: inline-block;
}

.header .top-menu .menu-item {
  display: inline-block;
  margin: 0 30px 0 0;
}
.header .top-menu .menu-item a {
  border-bottom: 1px solid #fff;
  color: #B3B3B3;
  line-height: 1.3;
  transition: all .3s;
}
.header .top-menu .menu-item a:hover {
  color: var(--m-main-green);
  border-bottom: 1px solid var(--m-main-green);
}

/* header-catalog-dropdown */
.header-catalog-dropdown {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 0 0 30px 30px;
  background: rgba(0,0,0,.8);
  overflow: hidden;
  z-index: 10;
}
.header-catalog-dropdown.active {
  display: block;
}
.header-catalog-dropdown .catalog-nav {
  display: flex;
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  overflow: hidden;
}
.header-catalog-dropdown .aside-nav {
  width: 295px;
  padding: 40px 20px;
  background-color: #F4FFF7;
}
.header-catalog-dropdown .promo {
  flex-grow: 1;
}
.header-catalog-dropdown .dark-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 11;
}


/* aside */
/* .aside-nav {
  font-size: 18px;
} */
.aside-nav .aside-nav-title {
  margin: 0 0 35px 0;
  font-family: 'arimo-bold';
  font-size: 20px;
}
.aside-nav .aside-nav-item {
  display: flex;
  margin: 0 0 32px 0;
  align-items: center;
}
.aside-nav .aside-nav-item .aside-nav-item__image {
  width: 26px;
  height: 26px;
  margin: 0 15px 0 0;
  border-radius: 12px;
  overflow: hidden;
}
.aside-nav .aside-nav-item .aside-nav-item__image img {
  width: 100%;
}
.aside-nav .aside-nav-item .aside-nav-item__title {
  font-family: 'arimo-semibold';
  font-size: 18px;
}

/* cart-aside */
.cart-aside .cart-aside-title-wrapper {
  display: flex;
  margin: 0 0 20px 0;
  align-items: center;
  justify-content: space-between;
}
.cart-aside .cart-aside-title {
  font-family: 'arimo-bold';
  font-size: 20px;
}
.cart-aside .cart-aside-clear-cart {
  color: #CFCFCF;
  cursor: pointer;
}
.cart-aside .grey-line {
  margin: 0 0 16px 0;
  height: 1px;
  background-color: #CFCFCF;
}
.cart-aside .products-item {
  display: flex;
  margin: 0 0 16px 0;
}
.cart-aside .products-item__image {
  width: 20px;
  height: 42px;
  margin: 0 10px 0 0;
  flex-shrink: 0;
}
.cart-aside .products-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-aside .products-item__title {
  line-height: 1.2;
}
.cart-aside .products-item-price-wrapper {
  display: flex;
  font-size: 15px;
}
.cart-aside .products-item__promo-price {
  margin: 0 16px 0 0;
}
.cart-aside .products-item__old-price {
  position: relative;
  color: #B3B3B3;
}
.cart-aside .products-item__old-price .line-through {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--m-magenta);
  transform: rotate(10deg);
}

.cart-aside .place-order-btn {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--m-main-green);
  color: #fff;
  justify-content: space-between;
}
.cart-aside .place-order-btn__summ {
  font-family: 'arimo-semibold';
}

/* home */
.main-section .main-slider-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}
.main-section .main-slider .slider-item-image {
  height: 288px;
  border-radius: 20px;
  overflow: hidden;
}
.main-section .main-slider .slider-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-section .main-slider .swiper-slide-content {
  position: absolute;
  top: 100px;
  left: 50px;
}
.main-section .main-slider .slider-item-title {
  font-family: 'arimo-bold';
  font-size: 45px;
  color: #fff;
  line-height: 1.4;
}
.main-section .main-slider .slider-item-subtitle {
  font-size: 20px;
  color: #fff;  
}
.main-section .main-slider .view-catalog-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 240px;
  height: 52px;
  padding: 10px 0;
  background-color: var(--m-magenta);
  border-radius: 26px;
  text-align: center;
}
.main-section .main-slider .view-catalog-btn__text {
  font-family: 'arimo-medium';
  font-size: 20px;
  color: #fff;
}
.main-section .button-next {
  position: absolute;
  right: -24px;;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.main-section .category-slider-wrapper {
  position: relative;
  margin: 0 0 30px 0;
}
.main-section .category-slider .category-slider-item {
  position: relative;
  padding: 20px 20px 11% 20px;
  border-radius: 20px;
  overflow: hidden;
}
.main-section .category-slider .orange-bg {
  background: linear-gradient(135deg, #EF762C 0%, #DE6300 100%);
}
.main-section .category-slider .green-bg {
  background: linear-gradient(129.52deg, #5EE380 16.72%, #2F9642 107.41%);
}
.main-section .category-slider .purple-bg {
  background: linear-gradient(135deg, #9B38DC 0%, #7118AC 100%);
}
.main-section .category-slider .red-bg {
  background: linear-gradient(135deg, #ED447D 0%, #BE114B 100%);
}
.main-section .category-slider .slider-item-title {
  font-family: 'arimo-bold';
  color: #fff;
}
.main-section .category-slider .slider-item-image {
  position: absolute;
  width: 60%;
  right: 0;
  bottom: 5px;
}
.main-section .category-slider .slider-item-image img {
  width: 100%;
}

/* grey section */
.grey-section {
  position: relative;
  margin: 0 0 50px 0;
  padding: 13px 80px 13px 16px;
  border-radius: 10px;
  background-color: #F8F7F5;
}
.grey-section .flex-container {
  display: flex;
  align-items: center;
}
.grey-section .grey-section__image {
  margin: 0 25px 0 0;
}


/* Товары на главной home-products */
.home-products .products-item {
  position: relative;
  padding: 40px 20px 20px 20px;
  border-radius: 20px;
}
.home-products .products-item .products-item__image {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0 0 20px 0;
  padding: 0 0 140% 0;
  border-radius: 10px;
  overflow: hidden;
}
.home-products .products-item .products-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-products .products-item .products-item__title {
  display: block;
  margin: 0 0 16px 0;
  color: var(--m-text);
}
.home-products .products-item .products-item__text {
  height: 39px;
  margin: 0 0 30px 0;
  color: #9C9C9C;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home-products .products-item .products-item-price-wrapper {
  display: flex;
  margin: 0 0 20px 0;
  align-items: baseline;
}
.home-products .products-item .products-item__price {
  position: relative;
  margin: 0 10px 0 0;
  font-size: 30px;
}
.home-products .products-item .products-item__currency {
  font-size: .9em;
}
.home-products .products-item .products-item__old-price {
  position: relative;
  font-size: 20px;
  color: #B3B3B3;
}
.home-products .products-item .products-item__promo-price {
  color: var(--m-magenta);
}
.home-products .products-item .products-item__old-price .line-through {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--m-magenta);
  transform: rotate(10deg);
}
.home-products .products-item .products-item__percent {
  position: absolute;
  top: -22px;
  right: -33px;
  width: 47px;
  height: 35px;
}
.home-products .products-item .products-item__percent img {
  vertical-align: initial;
}
.home-products .products-item .add-to-cart-btn {
  height: 65px;
  padding: 17px 0;
  background-color: var(--m-light-green);
  border-radius: 33px;
  font-size: 19px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s;
}
.home-products .products-item .add-to-cart-btn:hover {
  background-color: var(--m-green);
}
.home-products .products-item .add-to-favourites {
  position: absolute;
  top: 10px;
  right: 18px;
  width: 21px;
  height: 19px;
  z-index: 1;
  cursor: pointer;
  /* transition: stroke .3s; */
}
.home-products .products-item .add-to-favourites svg path {
  stroke: #CFCFCF;
  fill: #fff;
  transition: all .3s;
}
.home-products .products-item .add-to-favourites svg:hover path {
  stroke: var(--m-light-green);
  fill: var(--m-light-green);
}
.home-products .products-item .add-to-favourites.active svg path {
  stroke: var(--m-light-green);
  fill: var(--m-light-green);
}

/* popular categories section */
.popular-categories-section .section-title {
  position: relative;
}
.popular-categories-section .section-title .all-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 77px;
  height: 43px;
  padding: 10px 15px;
  background-color: #efeeed;
  border-radius: 10px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.corner-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 11px;
  height: 17px;
}
.corner-right::before,
.corner-right::after {
  content: '';
  position: absolute;
  right: 0;
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background-color: #363636;
}
.corner-right::before {
  top: 5px;
  transform: rotate(45deg);
}
.corner-right::after {
  top: 11px;
  transform: rotate(-45deg);
}


/* promo-section */
.promo-section .promo-item {
  position: relative;
  height: 140px;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.promo-section .promo-item .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.promo-section .promo-item .green-figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.promo-section .promo-item .bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo-section .promo-item .discount {
  font-size: 0;
}
.promo-section .promo-item .discount .discount-text,
.promo-section .promo-item .discount .discount-percent {
  font-family: 'arimo-bold';
  font-size: 22px;  
}
.promo-section .promo-item .promo-item__text {
  font-family: 'arimo-bold';
  color: #fff;
}
.promo-section .promo-item .discount {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: var(--m-magenta);
  width: 83px;
  height: 40px;
  padding: 3px 0;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

/* single product */
.single-product .single-product-title {
  margin: 0 0 30px 0;
  font-size: 45px;
  text-transform: uppercase;
}
.single-product .to-favourites {
  display: flex;
  margin: 0 0 20px 0;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.single-product .to-favourites svg {
  margin: 0 16px 0 0;
}
.single-product .single-image {
  position: relative;
  height: 0;
  margin: 0 0 10px 0;
  padding: 0 0 170% 0;
  border-radius: 20px;
  overflow: hidden;
}
.single-product .single-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-product .single-product-gallery {
  display: flex;
  justify-content: space-between;
}
.single-product .single-product-gallery .single-product-gallery-item {
  position: relative;
  width: 30%;
  height: 0;
  padding: 0 0 44% 0;
  border-radius: 10px;
  overflow: hidden;
}
.single-product .single-product-gallery .single-product-gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-product .single-product-price {
  display: flex;
  margin: 0 0 30px 0;
  align-items: baseline;
}
.single-product .products-item__price {
  position: relative;
  margin: 0 20px 0 0;
  font-family: 'arimo-semibold';
  font-size: 38px;
}
.single-product .products-item__new-price {
  color: var(--m-magenta);
}
.single-product .products-item__old-price {
  font-size: 28px;
  color: #B3B3B3;
}
.single-product .single-product-price__text {
  margin: 0 0 0 90px;
  font-size: 30px;
}
.single-product .products-item__price .line-through {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--m-magenta);
  transform: rotate(10deg);
}
.single-product .add-to-cart-wrapper {
  display: flex;
  margin: 0 0 40px 0;
}
.single-product .single-add-to-cart-btn {
  width: 254px;
  height: 55px;
  margin: 0 26px 0 0;
  border: none;
  border-radius: 127px;
  background-color: #34A952;
  font-size: 21px;
  color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.single-product .single-product-quantity {
  display: flex;
  /* width: 110px; */
  /* margin: 0 0 16px 0; */
}
.single-product .single-product-quantity .quantity-number {
  width: 40px;
  margin: 0 3px;
  border: none;
  text-align: center;
  flex-grow: 1;
  -moz-appearance: textfield;
}
.single-product .single-product-quantity .quantity-number::-webkit-inner-spin-button,
.single-product .single-product-quantity .quantity-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.single-product .single-product-quantity .quantity-button {
  display: block;
  width: 54px;
  height: 54px;
  padding: 0px;
  border: none;
  background-color: white;
  cursor: pointer;
  flex-shrink: 0;
}
.single-product .single-product-quantity .quantity-button .circle {
  position: relative;
  width: 54px;
  height: 54px;
  margin: 0 auto;
  padding: 0px;
  border: none;
  border-radius: 50%;
  background-color: #F8F7F5;
}
/* .single-product .single-product-quantity .quantity-button:hover .circle {
  border: 1px solid #8278B8;
} */
.single-product .single-product-quantity .quantity-button .circle:before,
.single-product .single-product-quantity .quantity-button .circle:after {
  content: '';
  position: absolute;
  top: 26px;
  left: 17px;
  width: 20px;
  height: 1px;
  background-color: #3E3E3E;
  border-radius: 2px;
  transition: background-color .3s;
}
/* .single-product .single-product-quantity .quantity-button:hover .circle:before,
.single-product .single-product-quantity .quantity-button:hover .circle:after {
  background-color: #8278B8;
} */
.single-product .single-product-quantity .quantity-plus .circle:after {
  transform: rotate(90deg);
}

.single-product .single-product-info {
  display: flex;
  margin: 0 0 40px 0;
}
.single-product .single-product-info .single-product-about {
  margin: 0 100px 0 0;
}
.single-product .single-product-about-text {
  margin: 0 0 10px 0;
  font-family: 'arimo-medium';
  color: #B3B3B3;
}

/* o-kompanii */
.o-kompanii .o-kompanii-item {
  margin: 0 0 40px 0;
}
.o-kompanii .o-kompanii-title {
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}
.o-kompanii .o-kompanii-text {
  font-size: 18px;
}
.o-kompanii .o-kompanii-image {
  border-radius: 20px;
  overflow: hidden;
}
.o-kompanii .o-kompanii-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.o-kompanii .o-kompanii-subtitle {
  font-family: 'arimo-semibold';
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.2;
}
.o-kompanii .purple-accent {
  display: flex;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(135deg, #9B38DC 0%, #7118AC 100%);
  justify-content: space-between;
}
.o-kompanii .title-wrapper {
  width: 60%;
}
.o-kompanii .purple-accent-title {
  margin: 0 0 50px 0;
  color: #fff;
}
.o-kompanii .catalog-btn {
  display: block;
  width: 250px;
  height: 60px;
  padding: 13px 0;
  background-color: #fff;
  border-radius: 30px;
  font-family: 'arimo-medium';
  font-size: 22px;
  color: #9B38DC;
  text-align: center;
}
.o-kompanii .o-kompanii-stock-image {
  margin: 0 0 10px 0;
}
.o-kompanii .o-kompanii-stock-title {
  margin: 0 0 20px 0;
}
.o-kompanii .grey-section {
  margin: 0 0 60px 0;
}
.o-kompanii .frame {
  margin: 0 0 60px 0;
  padding: 40px;
  border: 3px solid #EDEDED;
  border-radius: 30px;
}
.o-kompanii .frame .frame-title {
  margin: 0 0 30px 0;
  font-family: 'arimo-medium';
  font-size: 32px;
}
.o-kompanii .frame .o-kompanii-text {
  margin: 0 0 60px 0;
}
.o-kompanii .frame .color-frame-item {
  min-height: 160px;
  margin: 0 0 24px 0;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
}
.o-kompanii .frame .color-frame-item__image {
  margin: 0 0 16px 0;
}
.o-kompanii .frame .orange-border {
  border-color: #EF762C;
}
.o-kompanii .frame .green-border {
  border-color: #5EE380;
}
.o-kompanii .frame .red-border {
  border-color: var(--m-magenta);
}
.o-kompanii .frame .purple-border {
  border-color: #9B38DC;
}
.o-kompanii .feedback {
  margin: 0 0 60px 0;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(135deg, #EF762C 0%, #DE6300 100%);
  color: #fff;
}
.o-kompanii .feedback .feedback-title {
  margin: 0 0 30px 0;
  font-family: 'arimo-semibold';
  font-size: 32px;
  line-height: 1.2;
}
.o-kompanii .feedback .form .form-title {
  margin: 0 0 30px 0;
  font-family: 'arimo-medium';
  font-size: 24px;
}
.o-kompanii .feedback .form .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.o-kompanii .feedback .form .top-flex-container {
  margin: 0 0 30px 0;
}
.o-kompanii .feedback .form .form-group {
  width: 30%;
}
.o-kompanii .feedback .form .label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 18px;
}
.o-kompanii .feedback .form .input-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #FFA262;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
}
.o-kompanii .feedback .form .input-field.required {
  border: 1px solid red;
}
.o-kompanii .feedback .form .submit-btn {
  width: 255px;
  height: 52px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  font-family: 'arimo-medium';
  font-size: 17px;
  color: #9B38DC;
}
.o-kompanii .feedback .form .submit-btn:disabled {
  color: #A9A9A9;
}
.o-kompanii .form .checkbox-wrapper {
  display: flex;
}
.o-kompanii .feedback .form .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.o-kompanii .feedback .form .custom-checkbox + .custom-checkbox-label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 50%;
  background-color: #fff;
  flex-shrink: 0;
  cursor: pointer;
}
.o-kompanii .feedback .form .custom-checkbox:checked + .custom-checkbox-label {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%238278B8%0D%0A' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.o-kompanii .feedback .form .privacy-policy-btn {
  color: #fff;
  text-decoration: underline;
}
.o-kompanii .contacts .contacts-title {
  font-family: 'arimo-semibold';
  font-size: 32px;
  text-transform: uppercase;
}
.o-kompanii .contacts .light-grey-text {
  color: #B3B3B3;
}
.o-kompanii .contacts .contacts-item {
  margin: 0 0 30px 0;
}
.o-kompanii .contacts .contacts-item a {
  color: var(--m-main-green);
  text-decoration: underline;
}

/* dostavka-i-oplata */
.dostavka-i-oplata .title-wrapper {
  margin: 0 0 80px 0;
}
.dostavka-i-oplata .dostavka-i-oplata-title {
  margin: 0 0 20px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
}
.dostavka-i-oplata .dostavka-i-oplata-image {
  margin: 0 0 10px 0;
}
.dostavka-i-oplata .dostavka-i-oplata-item {
  margin: 0 0 40px 0;
}
.dostavka-i-oplata .dostavka-i-oplata-item__image {
  margin: 0 0 16px 0;
}
.dostavka-i-oplata .warranty {
  margin: 0 0 60px 0;
}
.dostavka-i-oplata .dostavka-i-oplata-item-subtitle {
  margin: 0 0 16px 0;
  font-family: 'arimo-semibold';
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.2;
}
.dostavka-i-oplata .warranty .warranty-title {
  color: #363636;
}
.dostavka-i-oplata .warranty .warranty-item {
  margin: 0 0 20px 0;
}
.dostavka-i-oplata .warranty .warranty-item__image {
  margin: 0 0 16px 0;
}
.dostavka-i-oplata .payment {
  margin: 0 0 60px 0;
}
.dostavka-i-oplata .payment-title-wrapper {
  display: flex;
  margin: 0 0 16px 0;
  justify-content: space-between;
}
.dostavka-i-oplata .payment .payment-title {
  color: var(--m-main-green);  
}
.dostavka-i-oplata .payment .sdek-logo {
  width: 123px;
  height: 29px;
  flex-shrink: 0;
}
.dostavka-i-oplata .payment .russian-post-logo {
  width: 100px;
  height: 61px;
  flex-shrink: 0;
}
.dostavka-i-oplata .payment .payment-description {
  margin: 0 0 30px 0;
}
.dostavka-i-oplata .payment .payment-item {
  min-height: 296px;
  margin: 0 0 8px 0;
  padding: 20px;
  border: 2px solid var(--m-main-green);
  border-radius: 20px;
}
.dostavka-i-oplata .payment .payment-item .payment-item__title {
  margin: 0 16px 0 0;
  font-family: 'arimo-medium';
  font-size: 18px;
  color: var(--m-main-green);
  line-height: 1.2;
}
.dostavka-i-oplata .payment .online-payment {
  display: flex;
  padding: 20px;
  border: 2px solid #ED447D;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
}
.dostavka-i-oplata .questions-item {
  margin: 0 0 40px 0;
}
.dostavka-i-oplata .questions-item .questions-item__view-more {
  display: flex;
  margin: 0 0 20px 0;
  align-items: end;
}
.dostavka-i-oplata .questions-item .questions-item__view-more .view-more-btn {
  margin: 0 10px 0 0;
  font-size: 20px;
  color: var(--m-text);
  text-decoration: underline;
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow {
  position: relative;
  width: 20px;
  height: 20px;
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow span {
  position: absolute;
  top: 8px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--m-main-green);
  transform: rotate(-45deg);
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow::before,
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow::after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 2px;
  background-color: var(--m-main-green);
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow-up span {
  right: -1px;
  transform: rotate(-45deg);
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow-up::before {
  top: 0;
  right: 0;
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow-up::after {
  top: 7px;
  right: -7px;
  transform: rotate(90deg);
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow-down span {
  right: -2px;
  transform: rotate(45deg);
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow-down::before {
  bottom: 3px;
  right: 0;
}
.dostavka-i-oplata .questions-item .questions-item__view-more .arrow-down::after {
  top: 7px;
  right: -7px;
  transform: rotate(-90deg);
}
.dostavka-i-oplata .questions-item .questions-item__description {
  margin: 0 0 16px 0;
}

/* otzyvy */
.otzyvy .otzyvy-title {
  margin: 0 0 20px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}
.otzyvy .add-comment-btn {
  display: block;
  width: 215px;
  height: 60px;
  margin: 0 0 40px 0;
  padding: 17px 0;
  border-radius: 30px;
  background-color: var(--m-main-green);
  color: #fff;
  text-align: center;
}
.otzyvy .testimonials {
  margin: 0 0 40px 0;
}
.otzyvy .testimonials-item {
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 20px;
  background-color: #F8F7F5;
}
.otzyvy .testimonials-item .testimonials-item__name {
  margin: 0 0 30px 0;
  font-family: 'arimo-medium';
  font-size: 18px;
  color: var(--m-main-green);
}
.otzyvy .testimonials-item .mb30 {
  margin: 0 0 30px 0;
}
.otzyvy .testimonials-item .testimonials-item__image {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}
.otzyvy .testimonials-item .testimonials-item__image img {
  width: 100%;
}
.otzyvy .form-wrapper .form-title {
  margin: 0 0 30px 0;
  font-family: 'arimo-semibold';
  font-size: 32px;
  color: var(--m-main-green);
}
.otzyvy .form .submit-btn {
  width: 230px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: var(--m-main-green);
  font-family: 'arimo-medium';
  font-size: 17px;
  color: #fff;
}
.otzyvy .form .checkbox-wrapper {
  display: flex;
}
.otzyvy .form .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.otzyvy .form .custom-checkbox + .custom-checkbox-label {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--m-main-green);
  border-radius: 5px;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 50%;
  background-color: #fff;
  flex-shrink: 0;
  cursor: pointer;
}
.otzyvy .form .custom-checkbox:checked + .custom-checkbox-label {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%238278B8%0D%0A' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.otzyvy .form .privacy-policy-btn {
  color: var(--m-main-green);
  text-decoration: underline;
}

/* kontakty */
.kontakty .kontakty-title {
  margin: 0 0 20px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}
.kontakty .company-name {
  margin: 0 0 20px 0;
  font-family: 'arimo-medium';
  font-size: 24px;
}
.kontakty .flex-container {
  display: flex;
  margin: 0 0 40px 0;
}
.kontakty .kontakty-item {
  width: 33%;
}
.kontakty .kontakty-item .kontakty-item__title,
.kontakty .kontakty-subtitle {
  margin: 0 0 10px 0;
  font-family: 'arimo-semibold';
  font-size: 20px;
}
.kontakty .kontakty-item .kontakty-item__text img {
  margin: 0 5px 0 0;
}
.kontakty .mb60 {
  margin: 0 0 60px 0;
}

/* kak-zakazat */
.kak-zakazat .kak-zakazat-title {
  margin: 0 0 40px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}
.kak-zakazat .kak-zakazat-item {
  margin: 0 0 40px 0;
}
.kak-zakazat .kak-zakazat-step {
  margin: 0 0 20px 0;
  font-size: 18px;
}
.kak-zakazat .kak-zakazat-subtitle {
  margin: 0 0 1em 0;
  font-family: 'arimo-medium';
}
.kak-zakazat .list-item {
  margin: 0 0 10px 0;
  padding: 0 0 0 5px;
}
.kak-zakazat .marker-list .list-item::marker {
  content: '-';
}
.kak-zakazat .kak-zakazat-image img {
  width: 100%;
}
.kak-zakazat .number-list {
  margin: 0 0 1em 0;
}
.kak-zakazat .mb20 {
  margin: 0 0 20px 0;
}

/* favourites */
.favourites .favourites-title {
  margin: 0 0 40px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}

/* cart */
.cart .cart-title {
  margin: 0 0 40px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}
.cart .min-order {
  margin: 0 0 30px 0;
  padding: 30px;
  border-radius: 20px;
  background-color: #F8F7F5;
}
.cart .min-order .min-order-text {
  margin: 0 0 20px 0;
  color: #B3B3B3;
}
.cart .min-order .min-order-grey-line {
  height: 4px;
  margin: 0 0 16px 0;
  border-radius: 2px;
  background-color: #D9D9D9;
}
.cart .min-order .cart-price {
  width: max-content;
  height: 34px;
  margin: 0 0 0 auto;
  padding: 5px 15px;
  border-radius: 17px;
  background-color: #fff;
}
.cart .min-order .cart-price-image {
  margin: 0 5px 0 0;
}

.cart .cart-item {
  display: flex;
  margin: 0 0 40px 0;
}
.cart .cart-item .cart-item__image {
  width: 110px;
  height: 206px;
  margin: 0 40px 0 0;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.cart .cart-item .cart-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart .cart-item .cart-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.cart .cart-item .cart-item__title-wrapper,
.cart .cart-item .cart-item__promo {
  display: flex;
  line-height: 1.8;
  align-items: center;
  justify-content: space-between;
}
.cart .cart-item .cart-item__title-wrapper {
  font-size: 24px;
}
.cart .cart-item .cart-item__price {
  color: var(--m-main-green);
}
.cart .cart-item .cart-item__promo {
  font-size: 18px;
}
.cart .cart-item .cart-item__old-price {
  color: #B3B3B3;
}
.cart .cart-item .cart-item__bottom {
  position: relative;
  height: 40px;
}
.cart .cart-item .add-to-favourites {
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  font-size: 18px;
}
.cart .cart-item .add-to-favourites svg {
  vertical-align: middle;
}
.cart .cart-item .rm-from-cart-form {
  position: absolute;
  top: 0;
  left: 200px;
  display: block;
  width: 96px;
}
.cart .cart-item .rm-from-cart-btn {
  padding: 0;
  border: none;
  background-color: #fff;
  font-family: 'arimo-regular';
  font-size: 18px;
  color: var(--m-text);
}

.cart .cart-item .cart-item__quantity {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 120px;
}
.cart .cart-item .cart-item__quantity .quantity-number {
  width: 10%;
  margin: 0 3px;
  padding: 0;
  border: none;
  font-family: 'arimo-semibold';
  font-size: 20px;
  color: var(--m-text);
  text-align: center;
  flex-grow: 1;
  -moz-appearance: textfield;
}
.cart .cart-item .cart-item__quantity .quantity-number::-webkit-inner-spin-button,
.cart .cart-item .cart-item__quantity .quantity-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.cart .cart-item .cart-item__quantity .quantity-button {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
  background-color: white;
  cursor: pointer;
  flex-shrink: 0;
}
.cart .cart-item .cart-item__quantity .quantity-button .circle {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  padding: 0px;
  border: none;
  border-radius: 5px;
  background-color: #F8F7F5;
  transition: border .3s;
}
/* .cart .cart-item .cart-item__quantity .quantity-button:hover .circle {
  border: 1px solid #8278B8;
} */
.cart .cart-item .cart-item__quantity .quantity-button .circle:before,
.cart .cart-item .cart-item__quantity .quantity-button .circle:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 10px;
  width: 11px;
  height: 1px;
  background-color: #3E3E3E;
  border-radius: 2px;
  transition: background-color .3s;
}
.cart .cart-item .cart-item__quantity .quantity-button:hover .circle:before,
.cart .cart-item .cart-item__quantity .quantity-button:hover .circle:after {
  background-color: #8278B8;
}
.cart .cart-item .cart-item__quantity .quantity-plus .circle:after {
  transform: rotate(90deg);
}




.cart .cart-is-empty .cart-is-empty-image img {
  width: 100%;
}
.cart .cart-is-empty .cart-is-empty-content {
  margin: 0 0 64px 0;
}
.cart .cart-is-empty .cart-is-empty-text {
  font-family: 'arimo-semibold';
  font-size: 30px;
  text-align: center;
}
.cart .cart-is-empty .cart-is-empty-btn {
  display: block;
  margin: 0 0 16px 0;
  padding: 15px 0px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
.cart .cart-is-empty .cart-is-empty-btn__text {
  font-family: 'arimo-semibold';
  font-size: 20px;
}
.cart .cart-is-empty .cart-is-empty-back-btn {
  border: 2px solid #3E3E3E;
}
.cart .cart-is-empty .cart-is-empty-home-btn {
  border: 2px solid var(--m-main-green);
  background-color: var(--m-main-green);
}
.cart .cart-is-empty .cart-is-empty-home-btn .cart-is-empty-btn__text {
  color: #E8E8E8;
}

/* poisk */
.poisk .poisk-title {
  margin: 0 0 40px 0;
  font-family: 'arimo-bold';
  font-size: 45px;
  line-height: 1.2;
}
/* no-products-found */
.no-products-found .no-products-found-content {
  margin: 0 0 64px 0;
}
.no-products-found .no-products-found-image {
  width: 100%;
  max-width: 914px;
  margin: 0 auto;
}
.no-products-found .no-products-found-text {
  font-family: 'arimo-semibold';
  font-size: 30px;
  color: var(--m-main-green);
  text-align: center;
}
.no-products-found .no-products-found-btn {
  display: block;
  max-width: 1023px;
  margin: 0 auto;
  padding: 15px 0px;
  border: 2px solid var(--m-text);
  border-radius: 15px;
  background-color: var(--m-text);
  text-align: center;
}
.no-products-found .no-products-found-btn .cart-is-empty-btn__text {
  font-family: 'arimo-semibold';
  font-size: 20px;
  color: #E8E8E8;
}

/* footer */
.footer {
  margin: 60px 0 0 0;
  padding: 40px 0 20px 0;
  background-color: #F8F7F5;
}
.footer .logo-wrapper {
  margin: 0 0 30px 0;
}
.footer .logo-wrapper .logo {
  width: 133px;
}
.footer .logo-wrapper .logo img {
  width: 100%;
}
.footer .bottom-menu {
  margin: 0 0 50px 0;
}
.footer .bottom-menu .menu-title {
  margin: 0 0 20px 0;
  font-family: 'arimo-semibold';
  font-size: 20px;
}
.footer .bottom-menu .menu .menu-item {
  margin: 0 0 16px 0;
  line-height: 1.3;
}
.footer .bottom-menu .menu .menu-item .menu-item__link {
  color: #B3B3B3;
  transition: color .3s;
}
.footer .bottom-menu .menu .menu-item .menu-item__link:hover {
  color: var(--m-light-green);
}
.footer .bottom-menu .social svg rect {
  fill: #DDDDDD;
  transition: fill .3s;
}
.footer .bottom-menu .social svg path {
  fill: #BBBBBB;
  transition: fill .3s;
}
.footer .bottom-menu .social svg:hover rect {
  fill: var(--m-light-green);
}
.footer .bottom-menu .social svg:hover path {
  fill: #fff;
}
.footer .bottom-menu .last-menu .menu-item {
  color: var(--m-text);
}
.footer .bottom-menu .last-menu .phone {
  margin: 0 0 8px 0;
}
.footer .bottom-menu .last-menu .callback-btn {
  text-decoration: underline;
  cursor: pointer;
}
.footer .bottom-row .flex-container {
  display: flex;
  justify-content: end;
}
.footer .bottom-row .author {
  margin: 0 0 0 20px;
}
.footer .bottom-row .author .author-name {
  color: var(--m-text);
}

/* cart */





/* otzyvy */
.otzyvy .form-group label {
  display: block;
}

/* Прикрепить файл */
.otzyvy .inputfile {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.otzyvy .custom-inputfile-label {
  display: block;
  width: 170px;
  height: 38px;
  padding: 7px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #212529;
  background-color: #e9ecef;
}
.otzyvy .custom-inputfile-label:hover {
  background-color: #dde0e3;
}
.otzyvy .namefile {
  margin-left: 10px;
}

/* breadcrumbs */
.breadcrumbs {
  margin: 0 0 20px 0;
  /* padding: 0 0 16px 0; */
  font-family: 'arimo-medium';
  font-size: 14px;
}
.breadcrumbs .back {
  display: inline-block;
  width: 162px;
  height: 32px;
  margin: 0 16px 0 0;
  padding: 5px 10px;
  background-color: #F8F7F5;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}
.breadcrumbs .back-text {
  margin: 0 10px 0 0;
}
.breadcrumbs .parent {
  display: inline-block;
}
.breadcrumbs .parent a {
  color: #A9A9A9;
}
.breadcrumbs .active {
  display: inline-block;
  color: var(--m-main-green);
}
.breadcrumbs .arrow {
  display: inline-block;
  width: 14px;
  height: 1px;
  margin: 0 10px 5px 10px;
  background-color: #A9A9A9;
}



/* fixed bottom menu */
.fixed-bottom-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 86px;
  padding: 17px 13px;
  background-color: #F4F4F4;
  z-index: 2;
}
.fixed-bottom-menu .menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.fixed-bottom-menu .menu-item {
  position: relative;
  text-align: center;
}
.fixed-bottom-menu .menu-item img {
  height: 28px;
}
.fixed-bottom-menu .menu-item .title {
  margin-top: 7px;
  font-size: 13px;
  color: #2a2a2a;
}
.fixed-bottom-menu .cart-counter {
  position: absolute;
  top: 0;
  right: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFFF00;
  /* font-family: 'montserrat-semibold'; */
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
}

/* Полоса если пользователь авторизован */
.top-line-is-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #343a40;
  z-index: 1040;
}
.top-line-is-login .text-wrapper {
  display: flex;
  justify-content: space-between;
}
.top-line-is-login .top-line__text a {
  color: #c2c7d0;
  transition: color .3s;
}
.top-line-is-login .top-line__text a:hover {
  color: #fff;
}
.top-line-is-login .logout-btn {
  border: none;
  padding: 0;
  background-color: #343a40;
  color: #fff;
}

/* we use cookie */
.messages-cookies {
	position: fixed;
	bottom: 10px;
	left: 25px;
  max-width: 390px;
  color: #E8E8E8;
	z-index: 10;
}
.messages-cookies .messages-cookies-wrapper {
  max-width: 350px;
  padding: 20px;
  background-color: #3E3E3E;
  border-radius: 15px;
}
.messages-cookies .messages-cookies-text {
	margin: 0 0 16px 0;
  /* font-family: 'montserrat-medium'; */
  text-align: center;
}
.messages-cookies .messages-cookies-close {
  display: block;
  width: 108px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #E8E8E8;
  background-color: #3E3E3E;
  border-radius: 20px;
  color: #E8E8E8;
}


/* mobile menu */
.burger-menu-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  width: 42px;
  height: 42px;
  padding: 7px;
  border-radius: 21px;
  background-color: #FAFAFA;
  cursor: pointer;
  z-index: 10;
}
.burger-menu-wrapper.active {
  background-color: transparent;
}
.burger-menu-wrapper .burger-menu {
  position: relative;
  height: 100%;
}
.burger-menu-wrapper .burger-menu:before,
.burger-menu-wrapper .burger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #8278B8;
  transition: all .5s;
}
.burger-menu-wrapper .burger-menu:before {
  top: 6px;
}
.burger-menu-wrapper .burger-menu:after {
  top: 20px;
}
.burger-menu-wrapper .close:before,
.burger-menu-wrapper .close:after {
  top: 12px;
}
.burger-menu-wrapper .close:before {
  transform: rotate(-45deg);
}
.burger-menu-wrapper .close:after {
  transform: rotate(45deg);
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 130px 30px 30px 30px;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.mobile-menu .city-select {
  margin: 0 0 32px 0;
  cursor: pointer;
}
.mobile-menu .city-select .city-name {
  border-bottom: 1px solid #8278B8;
}
.mobile-menu .menu {
  margin: 0 0 64px 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .menu-item {
  padding: 10px 0;
}
.mobile-menu .menu-item a {
  color: #3E3E3E;
}
.mobile-menu .phone-text {
  color: #3E3E3E;
}
.mobile-menu .phone-text {
  border-bottom: 1px solid #8278B8;
}
.mobile-menu-open {
  opacity: 1;
  visibility: visible;
}

/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-close {
  position: absolute;
  top: 35px;
  right: 28px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close:before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background-color: #A9A9A9;
  transition: background-color .3s;
}
.modal-window .close:before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 20px 0;
  font-size: 20px;
  border-bottom: 1px solid #E8E8E8;
}
.modal-window .label {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  font-size: 16px;
}
.modal-window .input-field {
  width: 100%;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--m-main-green);
  border-left: none;
  font-size: inherit;
  color: var(--m-text);
}
.modal-window .input-field::placeholder {
  color: #E8E8E8;
  opacity: 1;
}
.modal-window .input-field::-ms-input-placeholder {
  color: #E8E8E8;
}
.modal-window .required {
  border-bottom: 1px solid #FF7272;
}
.modal-window .required::placeholder {
  color: #FF7272;
}
.modal-window .required::-ms-input-placeholder {
  color: #FF7272;
}
.modal-window .checkbox-text {
  display: block;
  font-size: 12px;
  line-height: 1.4;
}
.modal-window .privacy-policy-btn {
  color: #3E3E3E;
  text-decoration: underline;
}
.modal-window .submit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 64px;
  margin: 30px 0 0 0;
  border: none;
  background-color: #8278B8;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
}
.modal-window .submit-btn:disabled {
  color: #A9A9A9;
}
.modal-window .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal-window .custom-checkbox + .custom-checkbox-label::before {
  content: '';
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin: 3px 10px 10px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 70%;
  background-color: #fff;
  cursor: pointer;
}
.modal-window .custom-checkbox:checked + .custom-checkbox-label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%238278B8%0D%0A' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.modal-window .custom-checkbox-label {
  display: block;
  margin-top: 20px;
}

/* callback modal */
.callback-modal .form {
  margin: 30px 0 90px 0;
}

/* city select modal */
.select-city-modal .city-select-rezult {
  min-height: 100px;
}
.select-city-modal .city-select-form {
  margin: 0 0 16px 0;
}
.select-city-modal .city-select-rezult .city-item {
  margin: 0 0 16px 0;
  cursor: pointer;
  transition: color .3s;
}
.select-city-modal .city-select-rezult .city-item:hover {
  color: var(--m-main-green);
}


/* page 404 */
.page404 .image404 img {
  width: 100%;
}
.page404 .text404 {
  margin: 0 0 64px 0;
  font-family: 'arimo-bold';
  font-size: 28px;
  color: var(--m-main-green);
  text-align: center;
}
.page404 .btn404 {
  display: block;
  margin: 0 0 15px 0;
  padding: 10px 0;
  border-radius: 15px;
  font-family: 'arimo-semibold';
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.page404 .white-btn {
  border: 2px solid #3E3E3E;
}
.page404 .purple-btn {
  border: 2px solid var(--m-main-green);
  background-color: var(--m-main-green);
  color: #E8E8E8;
}

@media only screen and (max-width : 1400px) {
  
}

@media only screen and (max-width : 1200px) {
  

}

@media only screen and (max-width : 992px) {
  

}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block;
  }


  .wrap_b3a8 {
    bottom: 100px !important;
  }

  
}



@media only screen and (max-width : 480px) {
  
}